Reading the File

In [1]:
import pandas as pd

# Read the CSV file into a DataFrame
departments = pd.read_csv('departments_data.csv')

# Display the first 5 rows
departments.head()

   DEPARTMENT_ID  DEPARTMENT_NAME  MANAGER_ID  LOCATION_ID
0             10   Administration       200.0         1700
1             20        Marketing       201.0         1800
2             30       Purchasing       114.0         1700
3             40  Human Resources       203.0         1400
4             50         Shipping       121.0         1400

Data Types and Shape

In [2]:
# Data types of the columns
print(departments.dtypes)

# Shape of the DataFrame
print(departments.shape)

DEPARTMENT_ID        int64
DEPARTMENT_NAME     object
MANAGER_ID         float64
LOCATION_ID          int64
dtype: object
(27, 4)

Data Cleaning

In [3]:
# Remove the NaN values
departments = departments.dropna()

# Remove duplicates
departments = departments.drop_duplicates()

print(departments.shape)

(22, 4)

Basic Filtering

In [4]:
# Filter the data based on location ID
departments_filtered = departments[departments['LOCATION_ID'] == 1400]

# Reset the index
departments_filtered = departments_filtered.reset_index(drop=True)

print(departments_filtered)

   DEPARTMENT_ID   DEPARTMENT_NAME  MANAGER_ID  LOCATION_ID
0             40   Human Resources       203.0         1400
1             50          Shipping       121.0         1400
2             60                IT       103.0         1400
3             70  Public Relations       204.0         1400
4            110        Accounting       205.0         1400

Inner Merge in Pandas

In [5]:
departments_2 = pd.read_csv('departments_data_2.csv')

# Perform inner merge
common_departments = pd.merge(departments, departments_2, on='DEPARTMENT_ID', how='inner')

print(common_departments)

    DEPARTMENT_ID       DEPARTMENT_NAME  MANAGER_ID  LOCATION_ID  \
0              10        Administration       200.0         1700
1              20             Marketing       201.0         1800
2              30            Purchasing       114.0         1700
3              40       Human Resources       203.0         1400
4              50              Shipping       121.0         1400
5              60                    IT       103.0         1400
6              70      Public Relations       204.0         1400
7              80                 Sales       145.0         1800
8              90             Executive       100.0         1700
9             100               Finance       108.0         1800
10            110            Accounting       205.0         1400
11            120              Treasury       169.0         1700
12            130         Corporate Tax       321.0         1700
13            140    Control And Credit       102.0         1800
14            150  Shareholder Services       283.0         1700

    EMPLOYEE_COUNT   BUDGET  REVENUE  FOUNDED_YEAR
0               50   500000  1500000          1995
1              120  1200000  4000000          2000
2               80   800000  2500000          1988
3               35   350000  1000000          1975
4               65   650000  1800000          1990
5              150  1500000  4500000          1965
6               95   950000  2700000          2005
7              110  1100000  3300000          1980
8               45   450000  1200000          1999
9               60   600000  2300000          1970
10             130  1300000  3500000          1994
11             140  1400000  3700000          1985
12             125  1250000  3250000          1992
13             100  1000000  2500000          1979
14              90   900000  1800000          1998

Filtering Data with Multiple Conditions

In [6]:
# Filter the data based on multiple conditions
successful_departments = common_departments[(common_departments['REVENUE'] > 3000000) & (common_departments['LOCATION_ID'].isin([1800, 1400]))]

# Reset the index
successful_departments = successful_departments.reset_index(drop=True)

print(successful_departments)

   DEPARTMENT_ID DEPARTMENT_NAME  MANAGER_ID  LOCATION_ID  EMPLOYEE_COUNT  \
0             20       Marketing       201.0         1800             120
1             60              IT       103.0         1400             150
2             80           Sales       145.0         1800             110
3            110      Accounting       205.0         1400             130

    BUDGET  REVENUE  FOUNDED_YEAR
0  1200000  4000000          2000
1  1500000  4500000          1965
2  1100000  3300000          1980
3  1300000  3500000          1994

Grouping in Pandas

In [7]:
# Group the data by 'LOCATION_ID' and compute necessary measures
revenue_by_location = common_departments.groupby('LOCATION_ID').agg({'REVENUE': ['mean', 'min', 'max']})

print(revenue_by_location)

               REVENUE
                  mean      min      max
LOCATION_ID
1400         2700000.0  1000000  4500000
1700         2325000.0  1200000  3700000
1800         3025000.0  2300000  4000000